
<div class="container d-flex justify-content-between ">
    <h1>Your Library</h1>
    <button class="btn btn-success px-3">New List</button>
</div>

<div class="d-flex gap-5 border-bottom mt-5">
  <a href="#" class="anchor fs-6" onclick="showSection('library')">Your lists</a>
  <a href="#" class="anchor fs-6" onclick="showSection('saved')">Saved lists</a>
  <a href="#" class="anchor fs-6" onclick="showSection('highlights')">Highlights</a>
  <a href="#" class="anchor fs-6" onclick="showSection('readingHistroy')">Reading Histroy</a>
  
</div>
<div id="library" class="content-section mt-5 text-center">
  <p class="fw-bold">No lists </p>
</div>
<div id="saved" class="content-section d-none mt-5 text-center">
  <p class="fw-bold">No lists from others</p>
  <p>Save someone else's list and it will appear here.</p>
</div>
<div id="highlights" class="content-section d-none mt-5 text-center">
</div>

<div id="readingHistroy" class="content-section d-none mt-5 text-center">
<p class="fw-bold">You haven’t read any stories yet</p>
  <p>Stories you’ve read on Medium will appear here..</p>
</div>






































