
  <h2>Your Blogs</h2>

  <% if (!blogs || blogs.length === 0) { %>
    <p>No stories yet ✍️</p>
  <% } %>

  <% blogs.forEach(blog => { %>
    <div class="border-bottom py-3">
      <h4><%= blog.title %></h4>
      <p><%= blog.content %>...</p>
    </div>
  <% }) %>

