*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header */
.header-img{
  width: 80%;
  margin-top: 1rem;
}
.hero-main{
  height: 100vh;
}
.hero-logo{
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header-icon{

  font-size: 1.5rem;
  font-weight: 600;
}
.hero-text{
  font-size: 6rem;
}
/* left col section */
.anchor{
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.anchor:link, .anchor:visited{
  color:black;

}
.anchor:hover, .anchor:active{
 color: black;
}
/* popup */
/* POPUP STYLING */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-overlay.active {
  display: flex;
}

.popup-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}
/* HOME */
.home-headings{
  text-decoration: none;
  color: gray;
}
.home-headings:link, .home-headings:visited{
  color:gray;


}
.home-headings:hover, .home-headings:active{
 color: black;
}
/* Right side */
.recomendedtopics {
  display: grid;                 /* override d-flex */
  grid-template-columns: 1fr 1fr; /* 2 items per row */
  gap: 10px;
  cursor: pointer;
}

.recomendedtopics p {
  margin: 0;
  cursor: pointer;
}
/* Mobile sidebar */
@media (max-width: 767px) {
  .mobile-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1050;
    box-shadow: 2px 0 10px rgba(0,0,0,0.15);
  }

  .mobile-sidebar.show {
    transform: translateX(0);
  }
}
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1040;
  display: none;
}

.sidebar-overlay.show {
  display: block;
}


/* Desktop normal */
@media (min-width: 768px) {
  .mobile-sidebar {
    position: static;
    transform: none;
    height: auto;
    box-shadow: none;
  }
}
